<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="inQuiry:inRiverHost" value="http://localhost:8080"/>
    <add key="inQuiry:inRiverUserName" value="pimuser1"/>
    <add key="inQuiry:inRiverPassword" value="pimuser1"/>
    <!--
    The convention for naming fields is to prefix each field with
    entity name. If this configuration value is set to true
    the entity name will be omitted when generating properties and
    method/constructor parameters. If this configuration value is
    set to false, all property names and method/constructor parameters
    will keep the entity name as prefix.
    Default value is true.    
    -->
    <add key="inQuiry:fieldNamingConvention" value="true" />
    <!--
      Controls if orphaned files should be deleted. This requires
      that you don't do weird things in your entity model like referencing
      same file from two different entities. You'll have to opt in to this.
    -->
    <add key="inQuiry:deleteOrphanedFiles" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.1.0" newVersion="4.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
